# ingress-path-routing.yaml
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: path-based-ingress
  namespace: default
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
    - http:
        paths:
          - path: /test/
            pathType: Prefix
            backend:
              service:
                name: hello-node-app-service
                port:
                  number: 80
          - path: /test2/
            pathType: Prefix
            backend:
              service:
                name: text-next-app-service
                port:
                  number: 80
