name: Reconcile Flux Resources

on:
  push: # or any other trigger you prefer
    branches:
      - main

jobs:
  reconcile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Kubectl
        uses: azure/setup-kubectl@v1
        with:
          version: "latest"

      - name: Configure Kubernetes Context
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config

      - name: Download Flux CLI
        run: |
          curl -sLO https://toolkit.fluxcd.io/install.sh
          file install.sh
          chmod +x install.sh
          ./install.sh

      - name: Reconcile Git Source
        run: |
          flux reconcile source git flux-system --namespace=flux-system

      - name: Reconcile All Kustomizations
        run: |
          for kustomization in $(flux get kustomizations --all-namespaces | awk 'NR>1 {print $1}'); do
              flux reconcile kustomization $kustomization
          done

      - name: Reconcile All HelmReleases
        run: |
          for helmrelease in $(flux get helmreleases --all-namespaces | awk 'NR>1 {print $2 "/" $1}'); do
            namespace=$(echo $helmrelease | cut -f1 -d'/')
            name=$(echo $helmrelease | cut -f2 -d'/')
            flux reconcile helmrelease $name --namespace=$namespace
            if ! flux reconcile helmrelease $name --namespace=$namespace; then
                echo "Failed to process $name in $namespace"
            fi
          done
